<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-container">
        <div class="blurb-container">
            <div class="avatar-profile">
                <img src="images/face.svg">
            </div>
            <div class="blurb">
                <h1>Front-end Challenge</h1>
                <p>Code this up for desktop. Bonus points for a mobile interpretation.</p>

                <img src="images/Group33.svg">
            </div>
        </div>
        <form action="" class="form-container">
            <div class="form-inner-container">
                <div class="form-group">
                    <label for="name">Name </label>
                    <input type="text" name="name" placeholder="Michael Botes"/>
                </div>
                <!--<div class="form-group radio-group">-->
                    <!--<input type="radio" name="male">-->
                    <!--<label for="male">Male</label>-->
                    <!--<input type="radio" name="female" >-->
                    <!--<label for="female">Female</label>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="date">Date </label>
                    <input type="date" name="date" placeholder="19/02/2017" />
                </div>
                <div class="form-group error">
                    <label for="email">Email </label>
                    <input type="email" name="email" placeholder="michaelbotes21@gmail.com" value="michaelbotes21@gmail.com"/>
                    <span class="hidden-error-message">invalid email address</span>
                </div>
                <div class="form-group">
                    <label for="date">Mobile </label>
                    <input type="tel" name="mobile" placeholder="+91 98765 43210"/>
                </div>
                <div class="form-group">
                    <label for="email">Customer ID </label>
                    <input type="text" name="email" placeholder="576802-ERD0348 45"/>
                </div>
                <!--<div class="form-group radio-group">-->
                    <!--<label for="gender">Membership</label>-->
                    <!--<input type="radio" name="classic" value="male">-->
                    <!--<label for="male">Classic</label>-->
                    <!--<input type="radio" name="silver" value="female">-->
                    <!--<label for="female">Silver</label>-->
                    <!--<input type="radio" name="gold" value="female">-->
                    <!--<label for="female">Gold</label>-->
                <!--</div>-->

                <div class="form-group button-bar">
                    <button class="secondary-btn"> Cancel</button>
                    <button class="primary-btn"> Save</button>
                </div>
            </div>
        </form>
    </div>

    <!--//Mobile Version-->

    <h1 style="text-align: center">Mobile Version:</h1>
    <div class="main-container mobile">
        <div class="blurb-container">
            <div class="avatar-profile">
                <img src="images/face.svg">
            </div>
            <div class="blurb">
                <h1>Front-end Challenge</h1>
                <p>Code this up for desktop. Bonus points for a mobile interpretation.</p>

                <img src="images/Group33.svg">
            </div>
        </div>
        <form action="" class="form-container">
            <div class="form-inner-container">
                <div class="form-group">
                    <label for="name">Name </label>
                    <input type="text" name="name" placeholder="Michael Botes"/>
                </div>
                <!--<div class="form-group radio-group">-->
                <!--<input type="radio" name="male">-->
                <!--<label for="male">Male</label>-->
                <!--<input type="radio" name="female" >-->
                <!--<label for="female">Female</label>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="date">Date </label>
                    <input type="date" name="date" placeholder="19/02/2017" />
                </div>
                <div class="form-group error">
                    <label for="email">Email </label>
                    <input type="email" name="email" placeholder="michaelbotes21@gmail.com" value="michaelbotes21@gmail.com"/>
                    <span class="hidden-error-message">invalid email address</span>
                </div>
                <div class="form-group">
                    <label for="date">Mobile </label>
                    <input type="tel" name="mobile" placeholder="+91 98765 43210"/>
                </div>
                <div class="form-group">
                    <label for="email">Customer ID </label>
                    <input type="text" name="email" placeholder="576802-ERD0348 45"/>
                </div>
                <!--<div class="form-group radio-group">-->
                <!--<label for="gender">Membership</label>-->
                <!--<input type="radio" name="classic" value="male">-->
                <!--<label for="male">Classic</label>-->
                <!--<input type="radio" name="silver" value="female">-->
                <!--<label for="female">Silver</label>-->
                <!--<input type="radio" name="gold" value="female">-->
                <!--<label for="female">Gold</label>-->
                <!--</div>-->

                <div class="form-group button-bar">
                    <button class="secondary-btn"> Cancel</button>
                    <button class="primary-btn"> Save</button>
                </div>
            </div>
        </form>
    </div>
  </body>
</html>
